@media(max-width: 700px){
    .cold-outreach{
        width: 100%;
        margin: 0 auto;

        p{
            width: 100%;
            margin: 1rem auto;
        }
       iframe{
           width: 100%;
           margin: 5px;
       }
    }

}
